<div class="recipe-background">
  <div class="container mt-4">
    <h2 class="text-center mb-4">Recetas uniandes</h2>

    <div class="row">
      <div class="col-md-3 mb-4" *ngFor="let recipe of recipes">
        <div class="card h-100 shadow-sm">
          <img
            [src]="recipe.imagen"
            class="card-img-top"
            style="height: 180px; object-fit: cover"
          />

          <div class="card-body">
            <h5 class="card-title">{{ recipe.nombre }}</h5>

            <ul class="mb-2">
              <li *ngFor="let t of recipe.etiquetas">{{ t }}</li>
            </ul>

            <p><strong>Porciones:</strong> {{ recipe.porciones }}</p>

            <a
              [routerLink]="['/recipe', recipe.id]"
              class="btn btn-primary btn-sm"
            >
              Ver la receta
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
