<div class="recipe-detail-background">
  <div class="container d-flex justify-content-center py-5">
    <!-- Ventana / Tarjeta -->
    <div class="detail-card shadow-lg p-4">
      <div class="row">
        <!-- Imagen -->
        <div class="col-md-5">
          <img
            [src]="recipe.imagen"
            class="img-fluid rounded"
            style="object-fit: cover; height: 100%; border-radius: 20px"
          />
        </div>

        <!-- Contenido -->
        <div class="col-md-7">
          <h2 class="mb-3">{{ recipe?.nombre }}</h2>

          <!-- Tags -->
          <div class="mb-3">
            <span *ngFor="let t of recipe?.tags" class="badge-tag me-2">
              {{ t }}
            </span>
          </div>

          <p><strong>Porciones:</strong> {{ recipe?.porciones }}</p>
          <p><strong>Tiempo:</strong> {{ recipe?.tiempo_minutos }}</p>

          <hr />

          <h4>Ingredientes</h4>
          <app-ingredient-list
            [ingredients]="recipe?.ingredientes"
          ></app-ingredient-list>

          <hr />

          <h4>Pasos</h4>
          <ol>
            <li *ngFor="let p of recipe?.pasos">{{ p }}</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Esto lo pongo para regresar xd -->
<button class="btn btn-secondary mb-3" [routerLink]="['/recipe']">
  Regresar
</button>
